<div class="container mt-5">
    <h1>Your Books</h1>
    <p>お気に入りが表示されます</p>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Body</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @likes.each do |like| %>
          <tr>
            <td>
              <% if like.book.image_url.present? %>
                <%= image_tag like.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
              <% elsif like.book.image.attached? %>
                <%= image_tag like.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
              <% else %>
                <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
              <% end %>
            </td>
            <td><%= link_to like.book.title, book_path(like.book.id) %></td>
            <td><%= like.book.body %></td>
            <!-- Add the links or buttons here -->
            <!-- Example for "詳細" link -->
            <td>
           <% if false %><% if current_user.present? %>
              <%= link_to "積み本登録", book_tsundokus_path(like.book.id), method: :post, class: "btn btn-primary mt-2" %>
            <% end %> <% end %>
            <% if current_user.present? %>
              <% if current_user.like?(like.book) %>
                  <%= form_with(model: current_user.likes.find_by(book_id: like.book.id), local: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :book_id, like.book.id %>
                    <%= f.submit '登録解除', class: 'btn btn-danger mt-2' %>
                  <% end %>
                </td>
              <% else %>
                  <%= form_with(model: current_user.likes.build, local: true) do |f| %>
                    <%= hidden_field_tag :book_id, like.book.id %>
                    <%= f.submit 'お気に入り登録', class: 'btn btn-primary mt-2' %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="p-3 bg-white text-center">
                <div>
                    <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
<br><br><br>