
<h2>これから読む</h2>
<table class='table table-hover table-inverse'>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Reading_status</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @tsundoku_todo.each do |tsundoku| %>
            <tr>
                <td>
                    <% if tsundoku.book.image_url.present? %>
                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% elsif tsundoku.book.image.attached? %>
                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% end %>
                </td>
                <td><%= tsundoku.book.title %></td>
                <td>
                    <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                        <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                        <%= f.datetime_field :deadline %>
                        <%= f.submit "Update Status", class: "btn btn-success" %>
                    <% end %>
                </td>
                <td>
                    <% if current_user.present? and tsundoku.user == current_user %>
                        <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                    <% end %>
                </td>
                <td>
                    <% if tsundoku.deadline.present? %>
                        あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<h2>読んでいる</h2>
<table class='table table-hover table-inverse'>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Reading_status</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @tsundoku_doing.each do |tsundoku| %>
            <tr>
                <td>
                    <% if tsundoku.book.image_url.present? %>
                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% elsif tsundoku.book.image.attached? %>
                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% end %>
                </td>
                <td><%= tsundoku.book.title %></td>
                <td>
                    <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                        <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                        <%= f.datetime_field :deadline %>
                        <%= f.submit "Update Status", class: "btn btn-success" %>
                    <% end %>
                </td>
                <td>
                    <% if current_user.present? and tsundoku.user == current_user %>
                        <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                    <% end %>
                </td>
                <td>
                    <% if tsundoku.deadline.present? %>
                        あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<h2>読み終わった</h2>
<table class='table table-hover table-inverse'>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Reading_status</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @tsundoku_done.each do |tsundoku| %>
            <tr>
                <td>
                    <% if tsundoku.book.image_url.present? %>
                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% elsif tsundoku.book.image.attached? %>
                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                    <% end %>
                </td>
                <td><%= tsundoku.book.title %></td>
                <td>
                    <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                        <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                        <%= f.datetime_field :deadline %>
                        <%= f.submit "Update Status", class: "btn btn-success" %>
                    <% end %>
                </td>
                <td>
                    <% if current_user.present? and tsundoku.user == current_user %>
                        <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="search_form">
    <%= form_with url: user_searches_path(user_id: @user.id), local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
</div>