<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="user-experience card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8 text-center">
                            <% if @user.image.attached? %>
                                <%= image_tag @user.image, format: "jpeg", fallback: "no_image.jpg", class: "nav-image img-fluid", style: "width: 150px; height: auto;" %>
                            <% else %>
                                <%= image_tag "no_user_image.jpg", format: "jpeg", fallback: "no_image.jpg", class: "nav-image img-fluid", style: "width: 150px; height: auto;" %>
                            <% end %>
                            <% if current_user.present? and current_user == @user %>
                                <%= link_to edit_user_path(current_user.id), class: "text-decoration-none" do %>
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="border border-dark rounded w-75 mt-2">
                                            <span class="ml-2 pt-2">ユーザー編集</span> <%= image_tag("gear.jpg", size: "30x30") %>
                                        </div>
                                    </div>
                                <% end %>
                            <% elsif current_user.present? %>
                                <% if current_user.following?(@user) %>
                                    <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
                                <% else %>
                                    <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
                                <% end %>
                            <% end %>
                            <div class="card-text mt-4">ユーザー名: <%= @user.name %></div>

                            <div class="mb-3 mt-3">
                                <% if @user.current_level >= 50 %>
                                    <%= image_tag "menzai_gold.png", size: "150x40", title:"50レベルを超えた", class: "img-fluid"%>
                                <% elsif @user.current_level >= 30 %>
                                    <%= image_tag "menzai_silver.png", size: "150x40", title:"30レベルを超えた", class: "img-fluid"%>
                                <% elsif @user.current_level >= 10 %>
                                    <%= image_tag "menzai_bronze.png", size: "150x40", title:"10レベルを超えた", class: "img-fluid"%>
                                <% elsif @user.current_level >= 5 %>
                                    <%= image_tag "menzai_normal.png", size: "150x40", title:"5レベルを超えた", class: "img-fluid"%>
                                <% end %>

                                <div class="mb-3 mt-3">
                                    <% if @tsundoku_done.length >= 100 %>
                                        <%= image_tag "book_gold.png", size: "40x40", title:"本を100冊読了した", class: "img-fluid"%>
                                    <% elsif @tsundoku_done.length >= 50 %>
                                        <%= image_tag "book_silver.png", size: "40x40", title:"本を50冊読了した", class: "img-fluid"%>
                                    <% elsif @tsundoku_done.length >= 10 %>
                                        <%= image_tag "book_bronze.png", size: "40x40", title:"本を10冊読了した", class: "img-fluid"%>
                                    <% elsif @tsundoku_done.length >= 3 %>
                                        <%= image_tag "book_normal.png", size: "40x40", title:"本を3冊読了した", class: "img-fluid"%>
                                    <% end %>

                                    <% if @user.tsundokus.length >= 100 %>
                                        <%= image_tag "resist_gold.png", size: "40x40", title:"本を100冊登録した", class: "img-fluid"%>
                                    <% elsif @user.tsundokus.length >= 50 %>
                                        <%= image_tag "resist_silver.png", size: "40x40", title:"本を50冊登録した", class: "img-fluid"%>
                                    <% elsif @user.tsundokus.length >= 10 %>
                                        <%= image_tag "resist_bronze.png", size: "40x40", title:"本を10冊登録した", class: "img-fluid"%>
                                    <% elsif @user.tsundokus.length >= 3 %>
                                        <%= image_tag "resist_normal.png", size: "40x40", title:"本を3冊登録した", class: "img-fluid"%>
                                    <% end %>

                                    <% if @user.followers.count >= 100 %>
                                        <%= image_tag "follow_gold.png", size: "40x40", title: "100人にフォローされた", class:"img-fluid" %>
                                    <% elsif @user.followers.count >= 50 %>
                                        <%= image_tag "follow_silver.png", size: "40x40", title:"50人にフォローされた", class:"img-fluid" %>
                                    <% elsif @user.followers.count >= 10 %>
                                        <%= image_tag "follow_bronze.png", size: "40x40", title:"10人にフォローされた", class:"img-fluid" %>
                                    <% elsif @user.followers.count >= 3 %>
                                        <%= image_tag "follow_normal.png", size: "40x40", title:"3人にフォローされた", class:"img-fluid" %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="card-text">現在の経験値: <%= @user.exp %></div>
                            <div class="card-text">現在のレベル: <%= @user.current_level %></div>
                            <div class="level-bar mt-2">
                                <div class="level-progress" style="width: <%= level_progress_percentage(@user) %>%"></div>
                            </div>

                            <label class="open mt-2" for="pop-up">レベルを上げるには？</label>
                            <input type="checkbox" id="pop-up">
                            <div class="overlay">
                                <div class="window">
                                    <label class="close" for="pop-up">×</label>
                                    <div class="text">
                                    <h3>アプリを利用して経験値をためよう</h3>
                                    <div>
                                    <p>経験値を100集めるとレベルが1上がる<br>
                                    レベルを上げることで新しい機能が解放されたり<br>
                                    特別なバッジが名前についたりするかも</p>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>expの獲得方法</td>
                                            <td>獲得ポイント</td>
                                        </tr>
                                        <tr>
                                            <td>ログイン</td>
                                            <td>30pt(1日1回)</td>
                                        </tr>
                                        <tr>
                                            <td>本の登録</td>
                                            <td>3pt(1日5回)</td>
                                        </tr>
                                        <tr>
                                            <td>本を読み終わる</td>
                                            <td>10pt(1日5回)</td>
                                        </tr>
                                        <tr>
                                        <td>本を読む(読書タイマーはレベル10から)</td>
                                        <td>1pt/分(1回30ptまで)</td>
                                        </tr>                           
                                        <!-- 追加の行をここに追加 -->
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 mb-5">
                <div class="card-body">
                    <div class="card-text">フォロー数: <%= @user.followings.count %></div>
                    <div class="card-text">フォロワー数: <%= @user.followers.count %></div>
                    <div class="card-text"><%= link_to "フォローフォロワー一覧", follows_user_path(@user) %></div>
                    <div class="card-text"><%= link_to "お気に入り一覧", likes_path() %></div>
                    <!--ここからストップウォッチ-->
                    <% if current_user.present? and current_user == @user %> 
                        <input type="hidden" id="user-id" value="<%= @user.id %>">
                        <h3 class="mt-4">読書タイマー</h3>
                        <% if current_user.current_level < 10 %>
                            <p>レベルが10以上になると使用できます!</p>
                        <% else %>
                            <div id="time">00:00:00</div>
                            <div id="buttons">
                                <input id="start" type="button" value="タイマー開始">
                                <input id="pause" type="button" value="一時停止" disabled=true>
                                <input id="stop" type="button" value="記録" disabled=true>
                                <input id="reset" type="button" value="リセット" disabled=true>
                            </div>
                        <% end %>

                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                            const time = document.getElementById('time');
                            const startButton = document.getElementById('start');
                            const pauseButton = document.getElementById('pause');
                            const stopButton = document.getElementById('stop');
                            const resetButton = document.getElementById('reset');

                            // 開始時間
                            let startTime;
                            // 停止時間
                            let stopTime = 0;
                            // タイムアウトID
                            let timeoutID;

                            let isPause = true;

                            function displayTime() {
                                const currentTime = new Date(Date.now() - startTime + stopTime);
                                const h = String(currentTime.getHours()-9).padStart(2, '0');
                                const m = String(currentTime.getMinutes()).padStart(2, '0');
                                const s = String(currentTime.getSeconds()).padStart(2, '0');
                                const st = String(new Date(startTime));
                                const nt = String(new Date(Date.now()));
                                const pt = String(new Date(stopTime));
                                

                                time.textContent = `${h}:${m}:${s}`;
                                timeoutID = setTimeout(displayTime, 10);
                            }

                            startButton.addEventListener('click', () => {
                                const userId = document.getElementById('user-id').value;
                                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                                fetch(`/users/${userId}/timers/start`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-Token': csrfToken
                                }
                                })
                                .then((response) => response.json())
                                .then((data) => {
                                    const { id } = data;
                                    timerId = id;

                                    startButton.disabled = true;
                                    pauseButton.disabled = false;
                                    stopButton.disabled = true;
                                    resetButton.disabled = true;
                                    startTime = Date.now();
                                    displayTime();
                                })
                                .catch((error) => console.error('Error:', error));
                            });

                            pauseButton.addEventListener('click', function() {
                                if(isPause) {
                                    isPause = false;
                                    startButton.disabled = true;
                                    pauseButton.disabled = false;
                                    stopButton.disabled = false;
                                    resetButton.disabled = false;
                                    pauseButton.value = "再開";
                                    clearTimeout(timeoutID);
                                    stopTime += (Date.now() - startTime);
                                }else {
                                    isPause = true;
                                    startButton.disabled = true;
                                    pauseButton.disabled = false;
                                    stopButton.disabled = true;
                                    resetButton.disabled = true;
                                    pauseButton.value = "一時停止";
                                    startTime = Date.now();
                                    displayTime();
                                }
                                

                            });

                            stopButton.addEventListener('click', function() {
                                const userId = document.getElementById('user-id').value;
                                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                                const inputData = {
                                duration: stopTime
                                };

                                fetch(`/users/${userId}/timers/${timerId}/stop`, {
                                method: 'PATCH',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-Token': csrfToken
                                }, 
                                body: JSON.stringify(inputData)
                                })
                                .then((response) => response.json())
                                .then(() => {
                                    isPause = true;
                                    startButton.disabled = false;
                                    pauseButton.disabled = true;
                                    stopButton.disabled = true;
                                    resetButton.disabled = true;
                                    time.textContent = '00:00:00';
                                    stopTime = 0;
                                })
                                .catch((error) => console.error('Error:', error));
                            });

                            resetButton.addEventListener('click', function() {
                                const userId = document.getElementById('user-id').value;
                                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                                fetch(`/users/${userId}/timers/${timerId}`, {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-Token': csrfToken
                                }
                                })
                                .then((response) => response.json())
                                .then((data) => {
                                    isPause = true;
                                    startButton.disabled = false;
                                    stopButton.disabled = true;
                                    resetButton.disabled = true;
                                    time.textContent = '00:00:00';
                                    stopTime = 0;
                                })
                                .catch((error) => console.error('Error:', error));
                            });

                            });
                        </script>
                    <% end %>
                    <!--ここまでストップウォッチ-->
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <% if user_signed_in? and current_user.id == @user.id %>
                <div class="d-flex justify-content-center mb-5">
                    <%= link_to "本を探しに行きましょう！", books_path, class: "btn btn-primary btn-lg"%>
                </div>
            <% end %>
            <p class="text-center">本に取り組んでいる状況や、いつまでに読むかを設定しましょう！</p>
            
            
            <div class="mb-5 border">
                <h2 class="border-bottom p-3">これから読む</h2>
                <table class='table table-hover table-inverse'>
                    <thead>
                        
                    </thead>
                    <tbody>
                        <% @tsundoku_todo.each do |tsundoku| %>
                            <tr>
                                <td>
                                    <% if tsundoku.book.image_url.present? %>
                                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% elsif tsundoku.book.image.attached? %>
                                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% else %>
                                        <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% end %>
                                </td>
                                <td><%= link_to tsundoku.book.title, book_path(tsundoku.book.id) %></td>
                                <% if user_signed_in? and current_user.id == @user.id %>
                                    <td>
                                        <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                                            <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                                            <%= f.datetime_field :deadline, class: "form-control mt-2" %>
                                            <%= f.submit "更新", class: "btn btn-success mt-2" %>
                                            <% if tsundoku.memo.present? %>
                                                <%= link_to "メモ編集", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% else %>
                                                <%= link_to "メモ追加", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% end %>
                                            <% if current_user.present? and tsundoku.user == current_user %>
                                                <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mt-2" %>
                                            <% end %>
                                            </td>
                                            <% if tsundoku.memo.present? %>
                                                <td><%= tsundoku.memo %></td>
                                            <% end %>
                                        <% end %>
                                    <td>
                                        <% if tsundoku.deadline.present? %>
                                            <% if (tsundoku.deadline - Time.zone.now).to_i / 1.day <= 0 %>
                                                あと0日
                                            <% else %>
                                                あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                                            <% end %>
                                        <% end %>
                                    </td>
                                <% else %>
                                    <td>
                                        <% if tsundoku.deadline.present? %>
                                            <% if (tsundoku.deadline - Time.zone.now).to_i / 1.day <= 0 %>
                                                あと0日
                                            <% else %>
                                                あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td><%= link_to "自分も読む", book_tsundokus_path(tsundoku.book.id), method: :post, class: "btn btn-primary" %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="mb-5 border">
                <h2 class="border-bottom p-3">読んでいる</h2>
                <table class='table table-hover table-inverse'>
                    <thead>
                        <tr>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% @tsundoku_doing.each do |tsundoku| %>
                            <tr>
                                <td>
                                    <% if tsundoku.book.image_url.present? %>
                                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% elsif tsundoku.book.image.attached? %>
                                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% else %>
                                        <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% end %>
                                </td>
                                <td><%= link_to tsundoku.book.title, book_path(tsundoku.book.id) %></td>
                                <% if user_signed_in? and current_user.id == @user.id %>
                                    <td>
                                        <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                                            <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                                            <%= f.datetime_field :deadline, class: "form-control mt-2" %>
                                            <%= f.submit "更新", class: "btn btn-success mt-2" %>
                                            <% if tsundoku.memo.present? %>
                                                <%= link_to "メモ編集", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% else %>
                                                <%= link_to "メモ追加", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% end %>
                                            <% if current_user.present? and tsundoku.user == current_user %>
                                                <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mt-2" %>
                                            <% end %>
                                            </td>
                                            <% if tsundoku.memo.present? %>
                                                <td><%= tsundoku.memo %></td>
                                            <% end %>
                                        <% end %>
                                    <td>
                                        <% if tsundoku.deadline.present? %>
                                            <% if (tsundoku.deadline - Time.zone.now).to_i / 1.day <= 0 %>
                                                あと0日
                                            <% else %>
                                                あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                                            <% end %>
                                        <% end %>
                                    </td>
                                <% else %>
                                    <td>
                                        <% if tsundoku.deadline.present? %>
                                            <% if (tsundoku.deadline - Time.zone.now).to_i / 1.day <= 0 %>
                                                あと0日
                                            <% else %>
                                                あと<%= (tsundoku.deadline - Time.zone.now).to_i / 1.day %>日
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td><%= link_to "自分も読む", book_tsundokus_path(tsundoku.book.id), method: :post, class: "btn btn-primary" %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="mb-5 border">
                <h2 class="border-bottom p-3">読み終わった</h2>
                <table class='table table-hover table-inverse'>
                    <thead>
                        
                    </thead>
                    <tbody>
                        <% @tsundoku_done.each do |tsundoku| %>
                            <tr>
                                <td>
                                    <% if tsundoku.book.image_url.present? %>
                                        <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% elsif tsundoku.book.image.attached? %>
                                        <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% else %>
                                        <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
                                    <% end %>
                                </td>
                                <td><%= link_to tsundoku.book.title, book_path(tsundoku.book.id) %></td>
                                <% if user_signed_in? and current_user.id == @user.id %>
                                    <td>
                                        <%= form_with model:[tsundoku.book, tsundoku], local:true do |f| %>
                                            <%= f.select :reading_status, options_for_select([['もう一度読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                                            <%= f.submit "更新", class: "btn btn-success mt-2" %>
                                            <% if tsundoku.memo.present? %>
                                                <%= link_to "メモ編集", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% else %>
                                                <%= link_to "メモ追加", edit_book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), class: "btn btn-secondary mt-2" %>
                                            <% end %>
                                            <% if current_user.present? and tsundoku.user == current_user %>
                                                <%= link_to "削除", book_tsundoku_path(book_id: tsundoku.book.id, id: tsundoku.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mt-2" %>
                                            <% end %>
                                            </td>
                                            <% if tsundoku.memo.present? %>
                                                <td><%= tsundoku.memo %></td>
                                            <% end %>
                                        <% end %>
                                <% else %>
                                    <td><%= link_to "自分も読む", book_tsundokus_path(tsundoku.book.id), method: :post, class: "btn btn-primary" %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="container mt-5">
                <% for deadlines in @list.each_slice(3) %> 
                <div class="row">
                    <% deadlines.each do |deadline| %>
                    <div class="col-md-9 col-lg-6"> 
                        <%= month_calendar(attribute: :deadline, events: deadline[0], start_date: deadline[1]) do |date, deadlines| %>
                            <div class="day">
                                <%= date.day %>
                                <% deadlines.each do |d| %>
                                    <div class="bg-danger rounded p-3">
                                        <!-- ここに日付に関連するイベントなどを表示するコードを追加 -->
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

