<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">

      <% if @book.image_url.present? %>
        <div class="text-center mb-3">
          <%= image_tag @book.image_url, class: "img-fluid" %>
        </div>
      <% elsif @book.image.attached? %>
        <div class="text-center mb-3">
          <%= image_tag @book.image, format: "jpeg", fallback: "no_image.jpg", size:"120x180" %>
        </div>
      <% else %>
        <div class="text-center mb-3">
          <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"120x180" %>
        </div>
      <% end %>

      <h5 class="card-title text-center"><%= @book.title %></h5>
      <p class="card-text text-center"><%= @book.body %></p>

      <% if current_user.present? %>
        <div class="text-center mb-3">
          <%= link_to "積み本登録", book_tsundokus_path(@book.id), method: :post, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- tsundokusのuser_idカラムとusersのuser_idが等しいuserを全て表示する -->


 <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6">
                <div class="p-3 bg-white text-center">
                <div>
                    <h1>この本を読んでいるユーザー</h1>
                </div>
                <% @tsundokus.each do |tsundoku| %>
                <%= link_to user_path(tsundoku.user.id), class: "no-link-style" do %>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">                            
                        <% if tsundoku.user.image.attached? %>
                            <%= image_tag tsundoku.user.image, format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
                        <% else %>
                            <%= image_tag "no_user_image.jpg", format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
                        <% end %>
                        <div class="d-flex flex-column align-items-start ml-2">
                            <span class="font-weight-bold">
                                <%= tsundoku.user.name %>
                            </span>
                            <span>
                            <small class="text-muted">レベル<%= tsundoku.user.current_level %></small>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mt-2">
                    <% if !(current_user.present? and current_user == tsundoku.user) %>
                        <% if current_user.following?(tsundoku.user) %>
                        <%= link_to "フォロー外す", user_relationships_path(tsundoku.user.id), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                        <% else %>
                        <%= link_to "フォローする", user_relationships_path(tsundoku.user.id), method: :post, class: "btn btn-outline-primary btn-sm" %>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
      </div>
    </div>