  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <% if @range == "Book" %>
        <h2 class="mb-4">検索結果</h2>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Reading Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @tsundoku_searched.each do |tsundoku| %>
          <tr>
            <td>
              <% if tsundoku.book.image_url.present? %>
                <%= image_tag tsundoku.book.image_url, format: "jpeg", fallback: "no_image.jpg", size: "50x75", class: "img-fluid rounded" %>
              <% elsif tsundoku.book.image.attached? %>
                <%= image_tag tsundoku.book.image, format: "jpeg", fallback: "no_image.jpg", size: "50x75", class: "img-fluid rounded" %>
              <% else %>
                <%= image_tag "no_book_image.png", format: "jpeg", fallback: "no_image.jpg", size:"50x75" %>
              <% end %>
            </td>
            <td><%= tsundoku.book.title %></td>
            <% if user_signed_in? and current_user == @user %>
            <td>
              <%= form_with model: [tsundoku.book, tsundoku], local: true do |f| %>
                <%= f.select :reading_status, options_for_select([['これから読む', 0], ['読んでいる', 1], ['読み終わった', 2]], tsundoku.reading_status), {}, class: "form-control" %>
                <%= f.submit "更新", class: "btn btn-success mt-2" %>
              <% end %>
            </td>
            <% else %>
              <td><%= link_to "自分も読む", book_tsundokus_path(tsundoku.book.id), method: :post, class: "btn btn-primary" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
        <% else %>
        <div class="container mt-5">
              <div class="d-flex justify-content-center row">
                  <div class="col-md-6">
                      <div class="p-3 bg-white text-center">
                      <div>
                          <h1>検索結果</h1>
                      </div>
                      <% @users_searched.each do |user| %>
                      <%= link_to user_path(user.id), class: "no-link-style" do %>
                      <div class="d-flex flex-row justify-content-between align-items-center">
                          <div class="d-flex flex-row align-items-center">                            
                              <% if user.image.attached? %>
                                  <%= image_tag user.image, format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
                              <% else %>
                                  <%= image_tag "no_user_image.jpg", format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
                              <% end %>
                              <div class="d-flex flex-row align-items-center ml-2">
                              <div class="d-flex flex-column align-items-start ml-2">
                                  <span class="font-weight-bold">
                                      <%= user.name %>
                                  </span>
                                  <span>
                                  <small class="text-muted">レベル<%= user.current_level %></small>
                                  </span>
                              </div>
                              <% if user.current_level >= 50 %>
                              <%= image_tag "menzai_gold.png", size: "100x40", title:"50レベルを超えた"%>
                              <% elsif user.current_level >= 30 %>
                              <%= image_tag "menzai_silver.png", size: "100x40", title:"30レベルを超えた"%>
                              <% elsif user.current_level >= 10 %>
                              <%= image_tag "menzai_bronze.png", size: "100x40", title:"10レベルを超えた"%>
                              <% elsif user.current_level >= 5 %>
                              <%= image_tag "menzai_normal.png", size: "100x40", title:"5レベルを超えた"%>
                              <% end %>
                              </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mt-2">
                          <% if !(current_user.present? and current_user == user) %>
                              <% if current_user.following?(user) %>
                              <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                              <% else %>
                              <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary btn-sm" %>
                              <% end %>
                            <% end %>
                          </div>
                      </div>
                      <% end %>
                      <% end %>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      
    </div>
  </div>




    </div>