<!DOCTYPE html>
<html>
  <head>
    <title>MyappEnpit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f78733;">
    <div class="container-fluid">
      <a class="navbar-brand d-inline d-lg-none text-white" href="/books" style="font-family: 'Montserrat', sans-serif; font-size: 1.5rem; align-items: center;">
        <%= image_tag('Icon.png', alt: '', width: 40, height: 40, class: "d-inline-block") %>
        Tsumihoroboshi
      </a>
      <a class="navbar-brand d-none d-lg-inline text-white" href="/books" style="font-family: 'Montserrat', sans-serif; font-size: 2rem; align-items: center;">
        <%= image_tag('Icon.png', alt: '', width: 64, height: 64, class: "d-inline-block") %>
        Tsumihoroboshi
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <% if @user.present? %>
                    <li class="nav-item search_form mt-1" style="margin-left: 10px">
                      <%= form_with url: user_searches_path(user_id: @user.id), local: true, method: :get, html: { class: "d-flex" } do |f| %>
                          <%= f.text_field :word, placeholder: "ユーザー内検索",  class: "form-control px-4 mt-2" %>
                          <%= f.select :range, options_for_select([['User'], ['Book']]), {}, class: 'form-control mt-2', style: 'width: 70px;' %>
                          <%= f.submit "検索", class: " btn btn-primary mt-2" %>
                      <% end %>
                    </li>
                <% end %>
            <li class="nav-item  mt-1" style="margin-left: 10px">
                <%= link_to "My Page", user_path(current_user.id), class: "nav-link btn btn-warning text-white px-2 mt-1" %>
            </li>
            <li class="nav-item mt-1" style="margin-left: 10px">
              <%= link_to "Bookmarks", likes_path, class: "nav-link btn btn-warning text-white px-2 mt-1" %>
            </li>
            <li class="nav-item mt-1" style="margin-left: 10px">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-warning text-white px-2 mt-1" %>
            </li>
            <% if current_user.image.attached? %>
              <li class="nav-item d-none d-lg-inline mt-1" style="margin-left: 10px">
                <%= image_tag current_user.image, format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
              </li>
            <% else %>
              <li class="nav-item d-none d-lg-inline mt-1" style="margin-left: 10px">
                <%= image_tag "no_user_image.jpg", format: "jpeg", fallback: "no_image.jpg", class: "nav-image rounded-circle", size: "50x50" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item mt-1" style="margin-left: 10px">
              <%= link_to "Log in", new_user_session_path, class: "nav-link btn btn-warning text-white px-4 mt-1" %>
            </li>
            <li class="nav-item mt-1"  style="margin-left: 10px">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn btn-warning text-white px-4 mt-1" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
