<!DOCTYPE html>
<html>
  <head>
    <title>MyappEnpit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>プッシュ禁止にしたい</p>
    <p>Hello World</p>
    <p>Hello World 武田和也</p>
    p>Hello World Harutaka</p>
    <%= yield %>
  </body>
</html>
