<!DOCTYPE html>
<html>
  <head>
    <title>MyappEnpit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user.id) %></li>
        <% if current_user.image.attached? %>
        <%= image_tag current_user.image, format: "jpeg", fallback: "no_image.jpg", size:"50x50" %>
        <% end %>
        <li><%= link_to " Books", books_path %></li>
        <li><%= link_to " Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to " Books", books_path %></li>
        <li><%= link_to " Sign up", new_user_registration_path %></li>
        <li><%= link_to " Log in", new_user_session_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
